%p#notice= notice

%p.name
  %b Name:
  = @product.name
  = @product.label_recommend
%p.image
  = @product.display_image
%p.price
  %b Price:
  = @product.display_price
.description
  %p
    %b Description:
    = @product.display_description
  



= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
